*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: 0.8s ease-in-out;
}

.container-light{
    height:100vh;
    width:100vw;
    background:#e5e9ef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-dark{
    height:100vh;
    width:100vw;
    background:#191818;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-light{
    height:450px;
    width:300px;
    background: #ecf0f3;
    border-radius: 15px;
    box-shadow:  8px 8px 10px 0 rgba(46, 46, 46, 0.3),
    -6px -6px 10px 0 rgba(255, 255, 255, 0.7);
}
.calculator-dark{
    height:450px;
    width:300px;
    background: #1c1c1c;
    border-radius: 15px;
    box-shadow:  8px 8px 10px 0 rgba(0, 0, 0, 0.5),
    -6px -6px 10px 0 rgba(77, 77, 77, 0.2);
}


form input{
    height:50px;
    width:50px;
    background:#ecf1f4;
    border-radius:50%;
    margin:20px 6px 0px 15px;
    border: 0px ;
    box-shadow:  8px 8px 10px 0 rgba(46, 46, 46, 0.3),
    -6px -6px 10px 0 rgba(255, 255, 255, 0.9);
}

form .input-dark{
    height:50px;
    width:50px;
    background:#1c1c1c;
    border-radius:50%;
    margin:20px 6px 0px 15px;
    border: 0px ;
    color:#fff;
    box-shadow:  8px 8px 10px 0 rgba(0, 0, 0, 0.5),
    -6px -6px 10px 0 rgba(77, 77, 77, 0.2);
}

.equals{
    width:120px;
    border-radius: 30px;
}
.equals.input-dark{
    width:120px;
    border-radius: 30px;
}

.display{
    width:270px;
    border-radius: 30px; 
    box-shadow:  8px 8px 10px 0 rgba(46, 46, 46, 0.3) inset,
    -6px -6px 10px 0 rgba(255, 255, 255, 0.9) inset;
    text-align: right;
    font-size: 35px;
}
 .display.input-dark{
    width:270px;
    border-radius: 30px; 
    box-shadow:  8px 8px 10px 0 rgba(0, 0, 0, 0.5) inset,
    -6px -6px 10px 0 rgba(77, 77, 77, 0.2) inset;
    text-align: right;
    font-size: 35px;
}

.light-dark{
    position:absolute;
    cursor: pointer;
    width:100%; 
    display: flex;
    justify-content: center;
}

.toggleImageLight{
    position:relative;
    content: 'LIGHT';
    height:45px;
    width:45px;
    background:url('./sun.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    top:48px;
    left:5px;
    border: 1px solid rgba(254,202,39,1);
}

.toggleImageDark{
    position:relative;
    content: 'DARK';
    height:45px;
    width:45px;
    background:url('./moon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    top:48px;
    left:130px;
    border: 1px solid rgb(79, 79, 79);
}


.toggle-button-light{
    height:50px;
    width: 180px;
    border-radius: 30px;
    border:transparent;
    box-shadow:  8px 8px 10px 0 rgba(46, 46, 46, 0.3) inset,
    -6px -6px 10px 0 rgba(255, 255, 255, 0.9) inset;
}

.toggle-button-dark{
    height:50px;
    width: 180px;
    border-radius: 30px;
    border:transparent;
    box-shadow:  8px 8px 10px 0 rgba(0, 0, 0, 0.5) inset,
    -6px -6px 10px 0 rgba(77, 77, 77, 0.2) inset;
    background:#1c1c1c ;
    color:rgb(188, 188, 188);
}

